.jumbotron{
  color:white;
}
.container{
  padding-top: 1%;
}

body{
  background-image: url(https://images.pexels.com/photos/69748/pexels-photo-69748.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 900;
}
